<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moyora.clubschedule.mapper.GroupMapper">
        <select id="findById" resultType="GroupVo">
        SELECT * FROM `group` WHERE group_id = #{groupId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="groupId">
        INSERT INTO `group` (
            name, leader_user_key, group_create_request_id
        ) VALUES (
            #{name}, #{leaderUserKey}, #{groupRequestId}
        )
    </insert>

    <!-- 새로 추가: 그룹 업데이트 -->
    <update id="update" parameterType="com.moyora.clubschedule.vo.GroupVo">
        UPDATE `group`
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="autoApprove != null">auto_approve = #{autoApprove},</if>
            <if test="schedulePolicy != null">schedule_policy = #{schedulePolicy},</if>
        </set>
        WHERE group_id = #{groupId}
    </update>

    <select id="countByLeaderUserKey" resultType="int" parameterType="long">
        SELECT COUNT(*) FROM `group` WHERE leader_user_key = #{leaderUserKey}
    </select>

    <select id="findAllOrderByGroupIdDesc" resultType="GroupVo">
        SELECT * FROM `group` ORDER BY group_id DESC
    </select>

    <select id="findRecentBySchedule" resultType="GroupVo" parameterType="int">
        SELECT g.group_id, g.name, g.description, g.leader_user_key, g.capacity
        FROM `group` g
        JOIN (
            SELECT group_id, MAX(created_at) AS latest
            FROM group_schedule
            GROUP BY group_id
            ORDER BY latest DESC
            LIMIT #{limit}
        ) rec ON g.group_id = rec.group_id
        ORDER BY rec.latest DESC
    </select>

    <select id="searchByName" resultType="GroupVo" parameterType="string">
        SELECT group_id, name, description, leader_user_key, capacity
        FROM `group`
        WHERE name LIKE CONCAT('%', #{q}, '%')
        ORDER BY group_id DESC
    </select>
</mapper>