<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moyora.clubschedule.mapper.GroupSchedulePolicyMapper">

    <select id="selectByGroupId" resultType="com.moyora.clubschedule.vo.GroupSchedulePolicyVo">
        SELECT
            group_id                        AS groupId,
            min_role_to_create              AS minRoleToCreate,
            requires_approval               AS requiresApproval,
            def_manager_can_manage_schedule AS defManagerCanManageSchedule,
            requires_attendance_approval    AS requiresAttendanceApproval,
            visibility_type                 AS visibilityType,
            updated_at                      AS updatedAt
        FROM group_schedule_policy
        WHERE group_id = #{groupId}
    </select>

</mapper>
