<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moyora.clubschedule.mapper.GroupSchedulePolicyMapper">

    <select id="selectByGroupId" resultType="com.moyora.clubschedule.vo.GroupSchedulePolicyVo">
        SELECT
            group_id                    AS groupId,
            allow_member_create         AS allowMemberCreate,
            requires_approval           AS requiresApproval,
            def_sub_can_manage_schedule AS defSubCanManageSchedule,
            def_sub_can_manage_member   AS defSubCanManageMember,
            def_sub_can_manage_nickname AS defSubCanManageNickname,
            allow_self_nickname         AS allowSelfNickname,
            requires_attendance_approval AS requiresAttendanceApproval,
            visibility_type             AS visibilityType,
            updated_at                  AS updatedAt
        FROM group_schedule_policy
        WHERE group_id = #{groupId}
    </select>

</mapper>
