<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moyora.clubschedule.mapper.GroupRequestMapper">

    <!-- 그룹 신청 등록 -->
	<insert id="insertGroupRequest" parameterType="com.moyora.clubschedule.vo.GroupRequest"
			useGeneratedKeys="true" keyProperty="requestId">
	    INSERT INTO group_request (
	        user_key,
	        group_name,
	        description
	        )
	    VALUES (
	        #{userKey},
	        #{groupName},
	        #{description}
	    	)
	</insert>

	<!-- 대기중(PENDING) 상태 카운트 -->
	<select id="countPendingByUserKey" parameterType="long"
		resultType="int">
		SELECT COUNT(*)
		FROM group_request
		WHERE user_key = #{userKey}
		AND status = 'PENDING'
	</select>

	<!-- 그룹 신청 전체조회 -->
    <select id="selectByUserKey" parameterType="long" resultType="com.moyora.clubschedule.vo.GroupRequest">
	    SELECT
	        request_id,
	        user_key,
	        group_name,
	        description,
	        requested_at,
	        status,
	        reject_reason,
	        updated_by_user_key,
	        status_updated_at
	    FROM group_request
	    WHERE user_key = #{userKey}
    </select>
    
    <!-- 그룹 신청 취소 (상태 변경) -->
	<update id="updateStatusToCancelled">
		SET @user_key_for_update = #{userKey};
		UPDATE group_request
		SET status = 'CANCELLED'
		WHERE request_id = #{requestId}
		AND user_key = #{userKey};
	</update>
	
	<!-- 그룹 신청 거부 (상태 변경) -->
    <update id="updateStatusToRejected">
    	SET @user_key_for_update = #{userKey};
        UPDATE group_request
        SET status = 'REJECTED',
            reject_reason = #{rejectReason}
        WHERE request_id = #{requestId};
    </update>
    
</mapper>