<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moyora.clubschedule.mapper.GroupMapper">
    <select id="findById" resultType="GroupVo">
        SELECT * FROM `group` WHERE group_id = #{groupId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="groupId">
        INSERT INTO `group` (
            name, description, leader_user_key, capacity, current_member_count, auto_approve
        ) VALUES (
            #{name}, #{description}, #{leaderUserKey}, #{capacity}, #{currentMemberCount}, #{autoApprove}
        )
    </insert>
</mapper>